* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e1538;
  font-family: Arial, Helvetica, sans-serif;
  color: #0e1538;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}
.card {
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  margin: 10px;
  width: 250px;
  height: 560px;
}
.card-info {
  padding: 0 0.5rem;
}
.card-info p {
  margin: 17px 0;
}
.card-info .publish{
  color: black;
  font-weight: 300;
}
.card-info h3{
    color: rgb(14, 17, 219);
    font-weight: bold;
}
.card-info .publishTitle{
  font-weight: 100;
  font-size: 16px;
  color: black;
}
.card-info p:nth-child(3){
    color: red;
    margin-top: -2px;
}
.card-info p:nth-child(1){
    color: rgb(66, 58, 58);
    text-transform: capitalize;
}
.card-img img {
  width: 100%;
  cursor: pointer;
  transition: 0.15s linear all;
}
.card:hover .card-img img {
  transform: scale(1.1);
}
header {
  height: 70vh;
}
.header_nav {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.brand_logo {
  font-size: 14px;
  color: rgb(199, 8, 8);
  text-decoration: none;
  text-transform: uppercase;
}
.brand_logo .first{
  color: #026117;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
}
.brand_logo .second{
  text-transform: uppercase;
  color: hsl(133, 96%, 19%);
  font-weight: bold;
  font-size: 20px;
}
.header_nav ul {
  display: flex;
  margin-top: 12px;
}
.header_nav ul li {
  list-style: none;
}
.header_nav ul li a {
  text-decoration: none;
  color: white;
  margin: 20px;
}
.header_nav ul li a:hover{
  color: red;
  transform: scale(1.1);
}
.logout{
  padding: 1px;
  text-align: center;
  background: rgb(255, 8, 0);
  border-radius: 6px;
  border: none;
  color: black !important;
  cursor: pointer;
}
.logout a{
  color: #000 !important;
}
.logout:hover a{
  color: red !important;
  
}
.logout:hover{
  background: #000;
  color: red !important;
}
.main-head {
  height: 55vh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s linear all;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/a58a7719-0dcf-4e0b-b7bb-d2b725dbbb8e/dep0l32-9855b438-535d-4730-b122-53321ee97746.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2E1OGE3NzE5LTBkY2YtNGUwYi1iN2JiLWQyYjcyNWRiYmI4ZVwvZGVwMGwzMi05ODU1YjQzOC01MzVkLTQ3MzAtYjEyMi01MzMyMWVlOTc3NDYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.PWzCeHq4P6LhKa_DyGgrKJMsWJkkdxqj2C7d9WQ17J4");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.main-head img{
    width: 80px;
    transition: 0.15s linear all;
}
.main-head:hover img{
    width: 110px;
}
.main-head:hover{
    background-position: bottom;
}
footer{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    font-size: 1px;

}
.footer-copyright h3{
     font-size: 20px;
   }
.footer{
    width: 100%;
}
.footer-copyright span{
  color: red;
  
}
.main-foot {
  height: 55vh;
  width: 100%;
  margin-top: 20px;
 clip-path: polygon(3% 8%, 100% 0, 100% 99%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s linear all;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url("https://wallpapercave.com/wp/wp3388869.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
}
.main-foot img{
    width: 80px;
    transition: 0.15s linear all;
}
.main-foot:hover img{
    width: 110px;
}
.main-foot:hover{
    background-position: center;
}
.footer-copyright{
    font-size: 2px;
}

@media(max-width:567px) {
   .brand_logo{
       font-size: 18px;
       color: red;
   } .header_nav ul{
       font-size: 10px;
       margin-top: 14px;
       padding: 1px;
   }
   .footer-copyright h3{
     font-size: 16px;
   }
   .brand_logo .first, .brand_logo .second{
     font-size: 16px;
   }.brand_logo{
     font-size: 12px;
   }
}

/* Search Bar css */

.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
}
.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
  display: flex;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.8em;
	box-shadow: 0 0 0 0.4em #171717 inset;
  /* border: none; */
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #fff;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
  border:  none;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #0e1538;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0e1538;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #fff;
		box-shadow: 0 0 0 0.1em #fff inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}

/* search bar css ended  */